# Use this file to define individuals or teams that are responsible for code in a repository.
# Read more: <https://help.github.com/articles/about-codeowners/>
#
# Order is important: the last matching pattern has the highest precedence

# To allow mergify to auto-merge, we must in general not assign code owners to files
# This is because mergify will not be able to merge if the code owner is not a mergify admin.
# Instead, we require mergify checks to pass before merging and re-implement CODEOWNERS 
# functionality in the mergify configuration.


# ITisOpen Admins must review all changes to CODEOWNERS or the mergify configuration
.github/mergify.yml @itisopen-gh-actions/admins
.github/CODEOWNERS  @itisopen-gh-actions/admins